<!doctype html>
<html lang="en" ng-app="BBDocsApp">
  <head>
    <meta charset="UTF-8">
    <title>Brand Buttons for Bootstrap</title>
    <link rel="stylesheet" href="https://rawgithub.com/twbs/bootstrap/master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@cdgco/brand-buttons@1.0.2/dist/brand-buttons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@cdgco/brand-buttons@1.0.2/dist/brand-buttons-inversed.min.css">
    <link href="styles/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce2a0b093.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="site-wrapper" style="height:100vh">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover row">
            <h1 class="cover-heading">
              Brand Buttons for Bootstrap
            </h1>
            <p style="font-size:8px;">&nbsp;</p>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-bitcoin">
                <i class="fa fa-bitcoin"></i> Bitcoin
              </button>
            </div>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-facebook">
                <i class="fa fa-facebook"></i> Facebook
              </button>
            </div>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-twitter">
                <i class="fa fa-twitter"></i> Twitter
              </button>
            </div>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-dribbble">
                <i class="fa fa-dribbble"></i> Dribbble
              </button>
            </div>
            <p style="font-size:8px;">&nbsp;</p>
            <p class="lead">
              <a href="#buttons" id="scroll" class="call-to-action">…and 98 others <i class="fa fa-angle-right"></i></a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>
                <a href="#buttons" id="scroll" class="call-to-action">
                  <i class="fa fa-angle-down fa-5x"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="buttons">
    <p style="font-size:8px;">&nbsp;</p>
      <section ng-controller="ListCtrl">
        <section ng-repeat="brand in brands">
        <p style="font-size:8px;">&nbsp;</p>
          <div class="page-header">
            <h3>{{brand.name}}</h3>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-3 btn-demo" ng-repeat="btn in brand.list">
              <button class="btn btn-block btn-lg btn-{{btn}}">
                {{btn}}
              </button>
            </div>
          </div>
        </section>
      </section>

      <section class="uses">
        <div class="row">
          <div class="col-sm-6">
            <div class="page-header">
              <h3>Different sizes</h3>
            </div>
            <div class="table-responsive table-sizes">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-xs-2">Size</th>
                    <th>Example</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>.btn-xs</td>
                    <td>
                      <button class="btn btn-xs btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>.btn-sm</td>
                    <td>
                      <button class="btn btn-sm btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>default</td>
                    <td>
                      <button class="btn btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>.btn-lg</td>
                    <td>
                      <button class="btn btn-lg btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>.btn-block</td>
                    <td>
                      <button class="btn btn-block btn-lg btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="page-header">
              <h3>Different uses</h3>
            </div>
            <div class="table-responsive table-sizes">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-xs-2">Use</th>
                    <th>Example</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Only icon</td>
                    <td>
                      <button class="btn btn-xs btn-facebook">
                        <i class="fa fa-facebook"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Plain</td>
                    <td>
                      <button class="btn btn-sm btn-facebook">
                        Facebook
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>With icon</td>
                    <td>
                      <button class="btn btn-facebook">
                        <i class="fa fa-facebook"></i> Facebook
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Any content</td>
                    <td>
                      <button class="btn btn-lg btn-facebook">
                        <i class="fa fa-facebook"></i> Connect with Facebook <i class="fa fa-angle-right"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Inversed</td>
                    <td>
                      <button class="btn btn-lg btn-block btn-facebook-inversed">
                        <i class="fa fa-facebook"></i> Connect with Facebook <i class="fa fa-angle-right"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section class="font-awesome">
        <div class="page-header">
          <h3>With Font Awesome</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-android">
              <i class="fa fa-android"></i> Android
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-bitcoin">
              <i class="fa fa-bitcoin"></i> Bitcoin
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-bitbucket">
              <i class="fa fa-bitbucket"></i> Bitbucket
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-dribbble">
              <i class="fa fa-dribbble"></i> Dribbble
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-dropbox">
              <i class="fa fa-dropbox"></i> Dropbox
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-facebook">
              <i class="fa fa-facebook"></i> Facebook
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-flickr">
              <i class="fa fa-flickr"></i> Flickr
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-foursquare">
              <i class="fa fa-foursquare"></i> Foursquare
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-googleplus">
              <i class="fa fa-google-plus"></i> Google+
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-html5">
              <i class="fa fa-html5"></i> HTML5
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-instagram">
              <i class="fa fa-instagram"></i> Instagram
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-linkedin">
              <i class="fa fa-linkedin"></i> LinkedIn
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-pinterest">
              <i class="fa fa-pinterest"></i> Pinterest
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-rss">
              <i class="fa fa-rss"></i> RSS
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-skype">
              <i class="fa fa-skype"></i> Skype
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-stackoverflow">
              <i class="fa fa-stack-overflow"></i> StackOverflow
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-tumblr">
              <i class="fa fa-tumblr"></i> Tumblr
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-twitter">
              <i class="fa fa-twitter"></i> Twitter
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-vk">
              <i class="fa fa-vk"></i> VK
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-weibo">
              <i class="fa fa-weibo"></i> Weibo
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-windows">
              <i class="fa fa-windows"></i> Windows
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-xing">
              <i class="fa fa-xing"></i> Xing
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-youtube">
              <i class="fa fa-youtube-play"></i> YouTube
            </button>
          </div>
        </div>
      </section>

      <section class="install">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header">
              <h3>Install and usage</h3>
            </div>
            <ul>
              <li>Install: <code>npm i @cdgco/brand-buttons</code></li>
              <li>
                Include <code>dist/brand-buttons.min.css</code> to your file: <code>&lt;link rel="stylesheet" src="dist/brand-buttons.min.css"&gt;</code>
              </li>
              <li>
                Use as Bootstrap button: <code>&lt;button class="btn btn-facebook"&gt;Facebook&lt;/button&gt;</code> or <code>&lt;a href="" class="btn btn-facebook">Facebook&lt;/a></code>
              </li>
              <li>
                For inversed version you need include <code>brand-buttons-inversed.min.css</code> and use as <code>.btn-{brand}-inversed</code>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="page-header">
              <h3>Features</h3>
            </div>
            <ul>
              <li>102 Buttons</li>
              <li>Built with SASS</li>
              <li>Made for Bootstrap</li>
              <li>Compatible with Font Awesome</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="footer">
        <div class="row">
          <div class="col-xs-12">
            <hr>
            <h4>Bootstrap Brand Buttons by <a href="https://cdgtech.one">Carter Roeser</a>. Get on <a href="//github.com/evgenyrodionov/bootstrap-brand-buttons"><i class="fa fa-github"></i> GitHub</a>.</h4>
            <h4>
              <a href="https://paypal.me/cjrevents">Donate</a> or <a href="//github.com/cdgco/bootstrap-brand-buttons/issues">request new button</a>.</h4>
          </div>
        </div>
      </section>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/list.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $("#scroll").click(function() {
            $('html, body').animate({
                scrollTop: $("#buttons").offset().top
            }, 1500);
        });  
    </script>
  </body>
</html>
